.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  text-align: center;
  width: 100vw;
  left: 50%;
  right: 50%;
  color: white;
  background-color: #05064b;
  padding-bottom: 10px;
}
.table {
  margin-top: 50px;  
}
