.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: auto;
  margin-bottom: 10px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  min-width: 100px;
  position: relative;
}

td:first-child {
  min-width: 120px;
}

tr:nth-child(even) {
  background-color: #05064b;
}

tr:hover {
  background-color: #ddd;
  color: #05064b;
}

th {
  height: 40px;
  text-align: left;
  background-color: #05064b;
  color: white;
  cursor: pointer;
}

tr {
  color: rgb(76, 197, 245);
}

.filterField {
  margin: 30px;
}

.high {
  color: rgb(24, 216, 24);
}

.low {
  color: red;
}

.icon {
  height: 30px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  
}

