table {
  border-collapse: collapse;
  width: auto;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  min-width: 100px;
}

td:first-child {
  min-width: 120px;
}

tr:nth-child(even) {
  background-color: #05064b;
}

tr:hover {
  background-color: #ddd;
  color: #05064b;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #05064b;
  color: white;
}

tr {
  color: rgb(76, 197, 245);
}

.filterField {
  margin: 30px;
}

.high{
    color: rgb(24, 216, 24);
}

.low {
    color: red
}